<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MarketplaceArtifacts" value="https://pkgs.dev.azure.com/juntos-somos-mais-loyalty/python/_packaging/MarketplaceArtifacts/nuget/v3/index.json" />
  </packageSources>

  <!-- Uncomment and add your Azure DevOps personal access token to download Nugets from Common feed -->
 <packageSourceCredentials>
    <MarketplaceArtifacts>
        <add key="Username" value="anything" />
        <add key="ClearTextPassword" value="6vo72w5adklqyfnw2w6pnhqgorux6er7rj4hyjac47vtbjasukbq" />
    </MarketplaceArtifacts>
  </packageSourceCredentials>
</configuration>